.show-page {
  h2 {
    color: #4b0082;
  }

  .add-bookmark-card {
    max-width: 600px;
    background-color: #e6e6fa;
    color: #4b0082;

    .card-title {
      color: #4b0082;
    }

    .submit-bookmark-btn {
      background-color: #4b0082;
      border-color: #4b0082;
    }
  }

  }
